.app-download {
  padding-top: 107px;
  display: flex;
  flex-direction: column;
  background-color: #17212e;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -69px;
  overflow: visible;
  min-height: 563px;
}

.app-download__btn {
  margin: 28px auto 0 auto;
}

.app-download__list {
  .no-list;
  margin: 32px auto 0 auto;
  display: flex;
  width: 207px;
  justify-content: space-between;
  align-items: center;
}

.app-download__description {
  width: 230px;
  padding: 0;
  margin: 28px auto 0 auto;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
