.contacts-block {
  .wrapper;
  padding-top: 22px;
}

.contacts-block__container {
  .container;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-block__title {
  width: 80%;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}

.contacts-block__contacts {
  .no-list;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.contacts-block__item {
  width: 250px;
  text-align: center;
}

.contacts-block__list-title {
  margin: 10px auto 2px auto;
  font-size: 18px;
  font-weight: 700;
  color: @fontcolor1;
}

.contacts-block__list-text {
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  color: @fontcolor2;
  text-decoration: none;
}

.contacts-block__link {
  font-size: 24px;
  font-weight: 300;
  color: @fontcolor2;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .contacts-block__title {
    font-size: 40px;
    width: 376px;
  }

  .contacts-block__contacts {
    flex-direction: row;
    justify-content: space-between;
  }

  .contacts-block__item:last-child {
    flex-basis: 90%;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .contacts-block__item:last-child {
    flex-basis: auto;
    margin: 0;
  }

  .contacts-block__item:nth-child(2) {
    order: 1;
  }
}
