.form-text {
  .reset;
  width: 100%;
  border: none;
}

.form-text__container {
  width: 87.5%;
  margin: 0 auto;
  min-height: 320px;
  display: flex;
  flex-direction: column;
}

.form-text__label {
  margin: 40px auto 0 auto;
}

.form-text__textarea {
  margin-top: 17px;
}
