.form-app {
  background-color: #f2f2f2;
  border: none;
}

.form-app__container {
  min-height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-app__legend {
  width: 240px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  align-self: center;
  color: @fontcolor2;
}
