.form-contacts {
  .reset;
  width: 100%;
  padding-top: 15px;
  border: none;
}

.form-contacts__list {
  .no-list;
  width: 87.5%;
  margin: 0 auto;
  min-height: 272px;
  display: flex;
  flex-direction: column;
}

.form-contacts__label {
  display: block;
  margin-top: 23px;
  margin-left: 24px;
}

.form-contacts__input {
  margin-top: 13px;
}
