.form-achievements {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  padding-top: 35px;
  border: none;
  background-color: @graycolor;
}

.form-achievements__list {
  .no-list;
  margin: -6px auto 0 auto;
  width: 87.5%;
  min-height: 538px;
  display: flex;
  flex-direction: column;
}

.form-achievements__text {
  font-size: 18px;
  font-weight: 400;
  color: @fontcolor1;
}

.form-achievements__legend {
  width: 240px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: @fontcolor2;
}

.form-achievements__input {
  display: none;
}

.form-achievements__label {
  display: block;
  position: relative;
  margin-left: 70px;
  margin-top: 52px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 35px;
    height: 35px;
    border: 2px solid #e6e6e6;
    background-color: #ffffff;
    left: -70px;
    top: -5px;
  }

  &::after {
    content: "";
    display: none;
    position: absolute;
    width: 20px;
    height: 8px;
    border: 2px solid @fontcolor2;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    left: -61px;
    top: 6px;
  }
}

.form-achievements__input:checked ~ .form-achievements__label::after {
  display: block;
}
