.form-main__form-header {
  padding-top: 35px;
  min-height: 135px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -68px;
}

.form-main__form-title {
  margin: 0 auto;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

.form-main__form {
  display: flex;
  flex-direction: column;
}

.form-main__form-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: @fontcolor1;
  text-align: center;
}
