.form-achievements {
  height: 604px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: none;
  background-color: #f3f3f3;
}

.form-achievements__text {
  font-size: 18px;
  font-weight: 400;
  color: @fontcolor1;
}

.form-achievements__legend {
  width: 240px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  align-self: center;
  color: @fontcolor2;
}
