.form-name {
  .reset;
  padding-top: 15px;
  padding-bottom: 5px;
  border: none;
}

.form-name__list {
  .no-list;
  margin: 0 auto;
  width: 87.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 385px;
}

.form-name__label {
  display: block;
  margin-left: 25px;
  margin-top: 25px;
}

.form-name__input {
  margin-top: 12px;
}
