.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__copyright {
  display: flex;
}

.page-footer__copyright-text {
  font-size: 14px;
  line-height: 18px;
  color: @fontcolor1;
  font-style: normal;
}
