.price-list {
  padding-top: 59px;
  overflow: hidden;
  background-color: #f3f3f3;
}

.price-list__table {
  width: 350%;
  transform: translateX(-48.25%);
}

.price-list__head {
  width: 25%;
  padding-top: 19px;
  padding-bottom: 18px;
  background-color: #243344;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.price-list__head_empty {
  background-color: #ffffff;
}

.price-list__table-row {
  width: 25%;
  background-color: #ffffff;
  height: 59px;
}

.price-list__head-title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.price-list__head-price {
  margin: 0;
  margin-top: 4px;
  font-size: 24px;
  font-weight: 300;
}

.price-list__row-text {
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  color: @fontcolor1;
}

.price-list__slider {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 40px;
}
