@nav-bg: #243344;
@fontcolor1: #283645;
@fontcolor2: #d22856;
@btncolorgreen: #26ac6e;
@btncolorgreenhover: #159c5e;
@btncolorgreenactive: @btncolorgreenhover;
@btncolordisabled: #e5e5e5;
@graycolor: #f3f3f3;
@tablet-width: 660px;
@desktop-width: 960px;
@midgray: @btncolordisabled;

@font-face {
  font-family: "Open Sans sans-serif normal";
  src: url("/fonts/opensans.woff2"), url("/fonts/opensans.woff");
}

@font-face {
  font-family: "Open Sans sans-serif light";
  src: url("/fonts/opensanslight.woff2"), url("/fonts/opensanslight.woff");
}

@font-face {
  font-family: "Open Sans sans-serif bold";
  src: url("/fonts/opensansbold.woff2"), url("/fonts/opensansbold.woff");
}

body {
  margin: 0;
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
}

.no-list() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.reset() {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.wrapper {
  min-width: 320px;
  max-width: 660px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    min-width: 660px;
    max-width: 960px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1200px;
    min-width: 960px;
  }
}

.container {
  width: 87.5%;
  margin: 0 auto;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    width: 94%;
  }

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    padding: 0 10px;
    width: 960px;
  }
}

.index-page > .page-footer {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}
