@imagestillcolor: #b5b9be;
@imagehovercolor: #8d949b;
@imageactivecolor: #d22856;
@bordercolor: #dddfe0;

.filter {
  display: flex;
  flex-direction: column;
}

.filter__label-container {
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 5px;
  width: 88%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

.filter__slider-container {
  margin: 0 auto;
  padding: 20px 0 21px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.filter__image {
  margin: 0 auto;
  fill: @imagestillcolor;
}

.filter__label {
  width: 33.3333%;
  display: flex;
  outline: none;
  cursor: pointer;

  &:hover > .filter__image,
  &:focus > .filter__image {
    fill: @imagehovercolor;
  }

  &:active > .filter__image {
    fill: @imageactivecolor;
  }
}

.filter__label_active {
  & > .filter__image,
  &:hover > .filter__image,
  &:focus > .filter__image {
    fill: @imageactivecolor;
  }
}

.filter__slider {
  width: 85%;
  padding: 5px 0 5px 0;
  align-self: center;
  display: none;
  background-color: transparent;

  &_active {
    &::-webkit-slider-thumb {
      background-color: @imageactivecolor;
    }

    &::-moz-range-thumb {
      background-color: @imageactivecolor;
    }

    &::-ms-thumb {
      background-color: @imageactivecolor;
    }
  }
}

@media (min-width: @tablet-width) {
  .filter {
    flex-direction: row;
  }

  .filter__label-container {
    .reset;
    padding-top: 21px;
    flex-direction: column;
    width: 80px;
    flex-grow: 1;
  }

  .filter__label {
    position: relative;
    height: 72px;
    width: 100%;
    box-sizing: border-box;
  }

  .filter__image {
    width: 24px;
    height: 24px;
    margin-top: 24px;
    margin-left: 28px;

    &_contrast {
      width: 17px;
      height: 17px;
      margin-left: 33px;
      margin-top: 27px;
    }
  }

  .filter__slider-container {
    .reset;
    padding-top: 21px;
    flex-grow: 1;
  }

  .filter__slider {
    position: relative;
    margin: 0;
    height: 72px;
    box-sizing: border-box;
    display: block;

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      right: -7%;
      width: 133%;
      border-bottom: 1px solid @bordercolor;
    }
  }
}

@media (min-width: @desktop-width) {
  .filter {
    box-sizing: border-box;
    padding-top: 20px;
    padding-right: 60px;
  }

  .filter__image {
    width: 48px;
    height: 48px;
    margin-top: 14px;
    margin-left: 0;

    &_contrast {
      width: 34px;
      height: 34px;
      margin-left: 5px;
      margin-top: 18px;
    }
  }

  .filter__slider::before {
    right: -10%;
    width: 143%;
  }
}
