.page-footer {
  border: 1px solid transparent;
  min-height: 289px;
}

.page-footer__container {
  .container;
  padding-top: 39px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__copyright {
  margin-top: 31px;
  display: flex;
  padding-right: 15px;
  align-items: center;
}

.page-footer__copyright-text {
  margin-left: 10px;
  font-size: 14px;
  line-height: 18px;
  color: @fontcolor1;
  font-style: normal;
}

.page-footer__btn-list {
  .no-list;
  margin-top: 35px;
}

.page-footer__copyright-link {
  margin-top: 6px;
  margin-left: 10px;
}

.page-footer__logo-image {
  fill: @fontcolor1;
}

.page-footer__logo:hover .page-footer__logo-image,
.page-footer__logo:focus .page-footer__logo-image {
  fill: @fontcolor2;
}

.page-footer__logo:active .page-footer__logo-image {
  fill: @fontcolor1;
  opacity: 0.3;
}

.page-footer__copyright-image {
  margin-left: 5px;
  fill: @fontcolor2;
}

.page-footer__copyright-link:hover .page-footer__copyright-image,
.page-footer__copyright-link:focus .page-footer__copyright-image {
  fill: @fontcolor1;
}

.page-footer__copyright-link:active .page-footer__copyright-image {
  fill: @fontcolor1;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .page-footer {
    min-height: 127px;
  }

  .page-footer__container {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  .page-footer__logo {
    margin-top: 22px;
  }

  .page-footer__btn-list {
    margin-left: 5px;
    margin-top: 36px;
  }

  .page-footer__copyright {
    margin-top: 37px;
    margin-left: 10px;
    padding: 0 0 0 3px;
  }

  .page-footer__copyright-image {
    margin-top: 8px;
    margin-left: 15px;
    margin-right: 1px;
  }

  .page-footer__copyright-link {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    min-height: 197px;
  }

  .page-footer__container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 38px;
  }

  .page-footer__copyright-text {
    font-size: 18px;
  }

  .page-footer__copyright {
    margin-top: 33px;
    padding: 0;
  }

  .page-footer__btn-list {
    margin-left: 37px;
    margin-top: 37px;
  }

  .page-footer__copyright-image {
    margin: 15px 0 0 15px;
  }
}
